<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello world!</title>
  <!-- include Vue.js from a CDN -->
  <script src="https://unpkg.com/vue"></script>
  
</head>
<body>
	<div id="app">
    <input v-model='newCategory.name' 
      v-on:keyup.enter='saveNewCategory'>
    
    <category-li 
      v-on:toggleselected='onToggle'
      v-bind:categorias='categories'>
        <h1>{{header}}</h1>
        <second>Hola</second>
      </category-li>
	</div>
  <template id='categoryLi'>
    <ul>
      <slot></slot>
      <slot name='second'></slot>
      <li v-for='cat in categorias'
          v-on:click='toggleSelected(cat)'>
        {{ cat.name }}
        <span v-if='cat.selected'>selected</span>
        <span v-else>not selected</span>
      </li>  
    </ul>
  </template>
  <script src='app.js'></script>
</body>  